@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

nav {
    background-color: gray;
    box-shadow: 0.5px 4px rgba(212, 210, 210, 0.8);
}

nav ul {
    display: flex;
    justify-content: center;
}

li {
    margin: 20px;
    list-style: none;
  
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    background-color: white;
}


a:hover {
    background-color: gray;
    color: white;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.8);
}